#html {
    color: red;
}
#css{
    color: blue;
}
#js{
    color: yellow;
}
#React{
    color: aqua;
}
#Tailwind{
    color: lightblue;
}

ul{
    font-size: 32px;
}
/* attribute */
[class="demo"] {
    background-color: green;
}
/* psudeo */
.web p {
    background-color: green;
}
.web p:hover {
color: red;
}

